__pycache__/
*/__pycache__/
*/*/__pycache__/
*.pyc
*.pt
*.pkl
*.pth
*.pyo
*.jpg
*.jpeg
*.log
*.csv
*.gif
*.mp4
test*.*
*.egg-info/
.vscode/
**/logs/
**/outputs/
tst*
test*
*tst*
*test*
rendered_videos/
models/
output/
outputs/
figs/
urdf_models/
MUJOCO_LOG.TXT
GBC/utils/buffer/ref_buffer_bk.py
tmp/
unitree_rt/
# nohup output
1
nohup.out
*.out
*.diff
debug_ckpt_nan.py
scripts/*
*.bk
# code under review
GBC/gyms/isaaclab_45/workflows/rsl_rl/play_with_info.py
GBC/gyms/isaaclab_45/workflows/rsl_rl/play_with_info_bk.py
GBC/gyms/isaaclab_45/lab_tasks/h1/*
GBC/gyms/isaaclab_45/lab_tasks/turing/*
GBC/gyms/isaaclab_45/lab_tasks/fourier/*
GBC/viewer/isaacsim_viewer_record.py
GBC/viewer/mujoco_viewer_debug.py
GBC/viewer/mujoco_deploy_viewer.py
GBC/controllers/*
